<style>
    .message-content{
        font-family: 'Courier New', Courier, monospace;
        max-width: 600px;
        font-size: 18px;
        line-height: 24px;
    }
</style>

<div class="message-content">
    <p>Olá {{name}}</p>
    <br>
    <p>Recebemos uma solicitação de troca de senha, para sua conta!</p>
    <p>Se realmente foi você que solicitou, clique abaixo em "trocar sua senha".</p>
    <br>
    <p>
        <a href="{{link}}">Trocar minha senha</a>
    </p>
    <p>Caso Você não tenha solicitado a troca de senha, desconsidere esse e-mail</p>
    <br>
    <p>Obrigado!</p>
    <p><i> Equipe SIMLog </i></p>
</div>
